<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type"
            content="text/html; charset=utf-8">
        <title>Добавления объявления - Доска объявлений</title>
    </head>
    <body>
        <h1>Добавлеие объявления</h1>
        <div>
            <a href="{% url 'index' %}">Главная</a>
            {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk">
                {{ rubric.name }}
            </a>
            {% endfor %}
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Добавить">
        </form>
    </body>
</html>