<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type"
        content="text/html; charset=utf-8">
        <title>Главная - Доска объявлени</title>
    </head>
    <body>
        <h1>Объявления</h1>
        <div>
            <a href="{% url 'index' %}">Главная</a>
            {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
            {% endfor %}
            <a href="{% url 'add' %}">Добавить</a>
        </div>
        {% for bb in bbs %}
        <div>
            <h2>{{ bb.title }}</h2>
            <p>{{ bb.content }}</p>
            <p><a href="{% url 'by_rubric' bb.rubric.pk %}">
                {{ bb.rubric.name }}
            </a> </p>
            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
        </div>
        {% endfor %}
    </body>
</html>
